App/Wireshark/dtds/cdr.dtd

<? wireshark:protocol proto_name="cdr" hierarchy="yes" description="cdr reports to SEM" ?>
<!--
$Id: cdr.dtd 19612 2017-06-13 01:23:49 lego $
-->
<!ELEMENT CDR ( AvgBstDur | AvgBstDurR | AvgGapDur | AvgGapDurR | AvgRT | AvgRTR | Bch | Bst_Dens | Bst_DensR | Bytes | BytesR | CallDur | Callee | Caller | CallFlowAvailability | CALLID | CallOrig | Coder | Color | ConnectTm | ConnId | ControlMaxDelay | ControlPacketLoss | ControlPacketLossTotal | DColor | DestIP | DestPNumNPI | DestPNumTON | DiagFlags | DR | DrctMedia | DRR | DstHost | DstHostB4Manip | DstPNum | DstPNumB4Manip | DstPort | DstUri | DstUriB4Map | ECE | EndptType | EndSysDel | EndSysDelR | ExtRFactor | ExtRFactorR | FaxNW | FaxOnCall | FaxPgs | FinalBitRate | FL | FLR | FOM | FOMColor | fRXConfig | fRXConfigR | GapDens | GapDensR | GLOBALSESSIONID | ImageMaxDelay | ImagePacketLoss | ImagePacketLossTotal | IPGrp | IPGrpName | IpPrflId | IpPrflName | JBAbsMaxDel | JBAbsMaxDelMs | JBAbsMaxDelMsR | JBNomDelayMs | JBNomDelMsR | JColor | Jitt | JittR | Loss | LossR | MaxJit | MaxRate | MaxRateFaxPgs | MediaRlm | MediaRlmId | MediaType | MediaTypeAct | MinGapSize | MinGapSizeR | MosColor | MOS_CQ | MOS_CQR | MOS_LQ | MOS_LQR | MtrPulses | NewRemIP | NewRemPort | NIF | NL | NLR | OC | OCR | OldDestIP | OldRemPort | OR | ORR | OverFl | PagesErrored | PC | PCR | PLColor | PR | ProxySetId | ProxySetName | PRR | PstnTermReason | PTime | RColor | RDColor | Realm | RedirPNum | RedirPNumB4Manip | RedirPNumNPI | RedirPNumTON | RedirReason | RedirUri | RedirUriB4Map | ReleaseTm | RemGW | Rep_Typ | Rerl | RerlColor | RerlR | RFactor | RFactorR | RJColor | RlmIdx | RMosColor | RPLColor | RRerlColor | RT | RTCPDir | RTPDir | RTR | SCE | SESSIONID | SetupTm | SigDstIP | SigDstPort | SigSrcIP | SigSrcPort | SIPIf | SIPIfName | SIPMthd | SIPTermDesc | SIPTermReason | SipTrmReason | SL | SLR | SrcHost | SrcHostB4Manip | SrcIP | SrcPNum | SrcPNumB4Manip | SrcPNumNPI | SrcPNumTON | SrcPort | SrcUri | SrcUriB4Map | SRD | SRDName | StrmID | SubRlmIdx | Tdm2Dsp | TransType | Trk | TrkGrpNum | TrmInit | TrmReason | TrmReasonCat | TrnOvr | TxSigDiffSrv )* >
<!ELEMENT Event ( AvgBstDur | AvgBstDurR | AvgGapDur | AvgGapDurR | AvgRT | AvgRTR | Bch | Bst_Dens | Bst_DensR | Bytes | BytesR | CallDur | Callee | Caller | CallFlowAvailability | CALLID | CallOrig | Coder | Color | ConnectTm | ConnId | ControlMaxDelay | ControlPacketLoss | ControlPacketLossTotal | DColor | DestIP | DestPNumNPI | DestPNumTON | DiagFlags | DR | DrctMedia | DRR | DstHost | DstHostB4Manip | DstPNum | DstPNumB4Manip | DstPort | DstUri | DstUriB4Map | ECE | EndptType | EndSysDel | EndSysDelR | ExtRFactor | ExtRFactorR | FaxNW | FaxOnCall | FaxPgs | FinalBitRate | FL | FLR | FOM | FOMColor | fRXConfig | fRXConfigR | GapDens | GapDensR | GLOBALSESSIONID | ImageMaxDelay | ImagePacketLoss | ImagePacketLossTotal | IPGrp | IPGrpName | IpPrflId | IpPrflName | JBAbsMaxDel | JBAbsMaxDelMs | JBAbsMaxDelMsR | JBNomDelayMs | JBNomDelMsR | JColor | Jitt | JittR | Loss | LossR | MaxJit | MaxRate | MaxRateFaxPgs | MediaRlm | MediaRlmId | MediaType | MediaTypeAct | MinGapSize | MinGapSizeR | MosColor | MOS_CQ | MOS_CQR | MOS_LQ | MOS_LQR | MtrPulses | NewRemIP | NewRemPort | NIF | NL | NLR | OC | OCR | OldDestIP | OldRemPort | OR | ORR | OverFl | PagesErrored | PC | PCR | PLColor | PR | ProxySetId | ProxySetName | PRR | PstnTermReason | PTime | RColor | RDColor | Realm | RedirPNum | RedirPNumB4Manip | RedirPNumNPI | RedirPNumTON | RedirReason | RedirUri | RedirUriB4Map | ReleaseTm | RemGW | Rep_Typ | Rerl | RerlColor | RerlR | RFactor | RFactorR | RJColor | RlmIdx | RMosColor | RPLColor | RRerlColor | RT | RTCPDir | RTPDir | RTR | SCE | SESSIONID | SetupTm | SigDstIP | SigDstPort | SigSrcIP | SigSrcPort | SIPIf | SIPIfName | SIPMthd | SIPTermDesc | SIPTermReason | SipTrmReason | SL | SLR | SrcHost | SrcHostB4Manip | SrcIP | SrcPNum | SrcPNumB4Manip | SrcPNumNPI | SrcPNumTON | SrcPort | SrcUri | SrcUriB4Map | SRD | SRDName | StrmID | SubRlmIdx | Tdm2Dsp | TransType | Trk | TrkGrpNum | TrmInit | TrmReason | TrmReasonCat | TrnOvr | TxSigDiffSrv )* >
<!ELEMENT AvgBstDur ( #PCDATA ) >
<!ELEMENT AvgBstDurR ( #PCDATA ) >
<!ELEMENT AvgGapDur ( #PCDATA ) >
<!ELEMENT AvgGapDurR ( #PCDATA ) >
<!ELEMENT AvgRT ( #PCDATA ) >
<!ELEMENT AvgRTR ( #PCDATA ) >
<!ELEMENT Bch ( #PCDATA ) >
<!ELEMENT Bst_Dens ( #PCDATA ) >
<!ELEMENT Bst_DensR ( #PCDATA ) >
<!ELEMENT Bytes ( #PCDATA ) >
<!ELEMENT BytesR ( #PCDATA ) >
<!ELEMENT CallDur ( #PCDATA ) >
<!ELEMENT Callee ( #PCDATA ) >
<!ELEMENT Caller ( #PCDATA ) >
<!ELEMENT CallFlowAvailability ( #PCDATA ) >
<!ELEMENT CALLID ( #PCDATA ) >
<!ELEMENT CallOrig ( #PCDATA ) >
<!ELEMENT Coder ( #PCDATA ) >
<!ELEMENT Color ( #PCDATA ) >
<!ELEMENT ConnectTm ( #PCDATA ) >
<!ELEMENT ConnId ( #PCDATA ) >
<!ELEMENT ControlMaxDelay ( #PCDATA ) >
<!ELEMENT ControlPacketLoss ( #PCDATA ) >
<!ELEMENT ControlPacketLossTotal ( #PCDATA ) >
<!ELEMENT DColor ( #PCDATA ) >
<!ELEMENT DestIP ( #PCDATA ) >
<!ELEMENT DestPNumNPI ( #PCDATA ) >
<!ELEMENT DestPNumTON ( #PCDATA ) >
<!ELEMENT DiagFlags ( #PCDATA ) >
<!ELEMENT DR ( #PCDATA ) >
<!ELEMENT DrctMedia ( #PCDATA ) >
<!ELEMENT DRR ( #PCDATA ) >
<!ELEMENT DstHost ( #PCDATA ) >
<!ELEMENT DstHostB4Manip ( #PCDATA ) >
<!ELEMENT DstPNum ( #PCDATA ) >
<!ELEMENT DstPNumB4Manip ( #PCDATA ) >
<!ELEMENT DstPort ( #PCDATA ) >
<!ELEMENT DstUri ( #PCDATA ) >
<!ELEMENT DstUriB4Map ( #PCDATA ) >
<!ELEMENT ECE ( #PCDATA ) >
<!ELEMENT EndptType ( #PCDATA ) >
<!ELEMENT EndSysDel ( #PCDATA ) >
<!ELEMENT EndSysDelR ( #PCDATA ) >
<!ELEMENT ExtRFactor ( #PCDATA ) >
<!ELEMENT ExtRFactorR ( #PCDATA ) >
<!ELEMENT FaxNW ( #PCDATA ) >
<!ELEMENT FaxOnCall ( #PCDATA ) >
<!ELEMENT FaxPgs ( #PCDATA ) >
<!ELEMENT FinalBitRate ( #PCDATA ) >
<!ELEMENT FL ( #PCDATA ) >
<!ELEMENT FLR ( #PCDATA ) >
<!ELEMENT FOM ( #PCDATA ) >
<!ELEMENT FOMColor ( #PCDATA ) >
<!ELEMENT fRXConfig ( #PCDATA ) >
<!ELEMENT fRXConfigR ( #PCDATA ) >
<!ELEMENT GapDens ( #PCDATA ) >
<!ELEMENT GapDensR ( #PCDATA ) >
<!ELEMENT GLOBALSESSIONID ( #PCDATA ) >
<!ELEMENT ImageMaxDelay ( #PCDATA ) >
<!ELEMENT ImagePacketLoss ( #PCDATA ) >
<!ELEMENT ImagePacketLossTotal ( #PCDATA ) >
<!ELEMENT IPGrp ( #PCDATA ) >
<!ELEMENT IPGrpName ( #PCDATA ) >
<!ELEMENT IpPrflId ( #PCDATA ) >
<!ELEMENT IpPrflName ( #PCDATA ) >
<!ELEMENT JBAbsMaxDel ( #PCDATA ) >
<!ELEMENT JBAbsMaxDelMs ( #PCDATA ) >
<!ELEMENT JBAbsMaxDelMsR ( #PCDATA ) >
<!ELEMENT JBNomDelayMs ( #PCDATA ) >
<!ELEMENT JBNomDelMsR ( #PCDATA ) >
<!ELEMENT JColor ( #PCDATA ) >
<!ELEMENT Jitt ( #PCDATA ) >
<!ELEMENT JittR ( #PCDATA ) >
<!ELEMENT Loss ( #PCDATA ) >
<!ELEMENT LossR ( #PCDATA ) >
<!ELEMENT MaxJit ( #PCDATA ) >
<!ELEMENT MaxRate ( #PCDATA ) >
<!ELEMENT MaxRateFaxPgs ( #PCDATA ) >
<!ELEMENT MediaRlm ( #PCDATA ) >
<!ELEMENT MediaRlmId ( #PCDATA ) >
<!ELEMENT MediaType ( #PCDATA ) >
<!ELEMENT MediaTypeAct ( #PCDATA ) >
<!ELEMENT MinGapSize ( #PCDATA ) >
<!ELEMENT MinGapSizeR ( #PCDATA ) >
<!ELEMENT MosColor ( #PCDATA ) >
<!ELEMENT MOS_CQ ( #PCDATA ) >
<!ELEMENT MOS_CQR ( #PCDATA ) >
<!ELEMENT MOS_LQ ( #PCDATA ) >
<!ELEMENT MOS_LQR ( #PCDATA ) >
<!ELEMENT MtrPulses ( #PCDATA ) >
<!ELEMENT NewRemIP ( #PCDATA ) >
<!ELEMENT NewRemPort ( #PCDATA ) >
<!ELEMENT NIF ( #PCDATA ) >
<!ELEMENT NL ( #PCDATA ) >
<!ELEMENT NLR ( #PCDATA ) >
<!ELEMENT OC ( #PCDATA ) >
<!ELEMENT OCR ( #PCDATA ) >
<!ELEMENT OldDestIP ( #PCDATA ) >
<!ELEMENT OldRemPort ( #PCDATA ) >
<!ELEMENT OR ( #PCDATA ) >
<!ELEMENT ORR ( #PCDATA ) >
<!ELEMENT OverFl ( #PCDATA ) >
<!ELEMENT PagesErrored ( #PCDATA ) >
<!ELEMENT PC ( #PCDATA ) >
<!ELEMENT PCR ( #PCDATA ) >
<!ELEMENT PLColor ( #PCDATA ) >
<!ELEMENT PR ( #PCDATA ) >
<!ELEMENT ProxySetId ( #PCDATA ) >
<!ELEMENT ProxySetName ( #PCDATA ) >
<!ELEMENT PRR ( #PCDATA ) >
<!ELEMENT PstnTermReason ( #PCDATA ) >
<!ELEMENT PTime ( #PCDATA ) >
<!ELEMENT RColor ( #PCDATA ) >
<!ELEMENT RDColor ( #PCDATA ) >
<!ELEMENT Realm ( #PCDATA ) >
<!ELEMENT RedirPNum ( #PCDATA ) >
<!ELEMENT RedirPNumB4Manip ( #PCDATA ) >
<!ELEMENT RedirPNumNPI ( #PCDATA ) >
<!ELEMENT RedirPNumTON ( #PCDATA ) >
<!ELEMENT RedirReason ( #PCDATA ) >
<!ELEMENT RedirUri ( #PCDATA ) >
<!ELEMENT RedirUriB4Map ( #PCDATA ) >
<!ELEMENT ReleaseTm ( #PCDATA ) >
<!ELEMENT RemGW ( #PCDATA ) >
<!ELEMENT Rep_Typ ( #PCDATA ) >
<!ELEMENT Rerl ( #PCDATA ) >
<!ELEMENT RerlColor ( #PCDATA ) >
<!ELEMENT RerlR ( #PCDATA ) >
<!ELEMENT RFactor ( #PCDATA ) >
<!ELEMENT RFactorR ( #PCDATA ) >
<!ELEMENT RJColor ( #PCDATA ) >
<!ELEMENT RlmIdx ( #PCDATA ) >
<!ELEMENT RMosColor ( #PCDATA ) >
<!ELEMENT RPLColor ( #PCDATA ) >
<!ELEMENT RRerlColor ( #PCDATA ) >
<!ELEMENT RT ( #PCDATA ) >
<!ELEMENT RTCPDir ( #PCDATA ) >
<!ELEMENT RTPDir ( #PCDATA ) >
<!ELEMENT RTR ( #PCDATA ) >
<!ELEMENT SCE ( #PCDATA ) >
<!ELEMENT SESSIONID ( #PCDATA ) >
<!ELEMENT SetupTm ( #PCDATA ) >
<!ELEMENT SigDstIP ( #PCDATA ) >
<!ELEMENT SigDstPort ( #PCDATA ) >
<!ELEMENT SigSrcIP ( #PCDATA ) >
<!ELEMENT SigSrcPort ( #PCDATA ) >
<!ELEMENT SIPIf ( #PCDATA ) >
<!ELEMENT SIPIfName ( #PCDATA ) >
<!ELEMENT SIPMthd ( #PCDATA ) >
<!ELEMENT SIPTermDesc ( #PCDATA ) >
<!ELEMENT SIPTermReason ( #PCDATA ) >
<!ELEMENT SipTrmReason ( #PCDATA ) >
<!ELEMENT SL ( #PCDATA ) >
<!ELEMENT SLR ( #PCDATA ) >
<!ELEMENT SrcHost ( #PCDATA ) >
<!ELEMENT SrcHostB4Manip ( #PCDATA ) >
<!ELEMENT SrcIP ( #PCDATA ) >
<!ELEMENT SrcPNum ( #PCDATA ) >
<!ELEMENT SrcPNumB4Manip ( #PCDATA ) >
<!ELEMENT SrcPNumNPI ( #PCDATA ) >
<!ELEMENT SrcPNumTON ( #PCDATA ) >
<!ELEMENT SrcPort ( #PCDATA ) >
<!ELEMENT SrcUri ( #PCDATA ) >
<!ELEMENT SrcUriB4Map ( #PCDATA ) >
<!ELEMENT SRD ( #PCDATA ) >
<!ELEMENT SRDName ( #PCDATA ) >
<!ELEMENT StrmID ( #PCDATA ) >
<!ELEMENT SubRlmIdx ( #PCDATA ) >
<!ELEMENT Tdm2Dsp ( #PCDATA ) >
<!ELEMENT TransType ( #PCDATA ) >
<!ELEMENT Trk ( #PCDATA ) >
<!ELEMENT TrkGrpNum ( #PCDATA ) >
<!ELEMENT TrmInit ( #PCDATA ) >
<!ELEMENT TrmReason ( #PCDATA ) >
<!ELEMENT TrmReasonCat ( #PCDATA ) >
<!ELEMENT TrnOvr ( #PCDATA ) >
<!ELEMENT TxSigDiffSrv ( #PCDATA ) >
<!ELEMENT VQM ( CDR | Event )* >
